@using Microsoft.AspNetCore.Authentication
@{
    var isAuthenticated = Context.User.Identity?.IsAuthenticated ?? false;
    var isAdmin = User.IsInRole("Admin");
}

<ul class="navbar-nav">
@if (isAuthenticated)
{
    <li class="nav-item">
        <span class="nav-link text-white">Hello @Context.User.Identity.Name!</span>
    </li>
    @if (isAdmin)
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Auth" asp-action="RegisterAdmin">Register Admin</a>
        </li>
    }
    <li class="nav-item">
        <form class="form-inline" asp-controller="Auth" asp-action="Logout" method="post">
            <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white" asp-controller="Auth" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-controller="Auth" asp-action="Login">Login</a>
    </li>
}
</ul>