@model IEnumerable<MyFormixApp.Domain.DTOs.Templates.TemplateDto>

@if (!Model.Any())
{
    <div class="alert alert-warning">No templates found.</div>
}
else
{
    <div class="row">
        @foreach (var template in Model)
        {
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <h4>PIC-PIC</h4>
                    <div class="card-body">
                        <h5 class="card-title">@template.Title</h5>
                        <p class="card-text">@template.Description</p>
                        <a href="/Templates/View/@template.Id" class="btn btn-outline-primary">View Template</a>
                    </div>
              
                </div>
            </div>
        }
    </div>
}
