@model MyFormixApp.Domain.DTOs.Questions.QuestionDto

<div class="mb-4">
    <h5>@Model.Title @(Model.IsRequired ? "*" : "")</h5>
    
    @if (!string.IsNullOrEmpty(Model.Description))
    {
        <p class="text-muted">@Model.Description</p>
    }
    
    <div class="form-floating">
        <textarea class="form-control" placeholder="User answer will appear here" style="height: 100px" disabled></textarea>
        <label>User answer will appear here</label>
    </div>
    
    @if (!string.IsNullOrEmpty(Model.ImageUrl))
    {
        <div class="mt-2">
            <img src="@Model.ImageUrl" class="img-thumbnail" style="max-height: 150px;">
        </div>
    }
</div>